#education-section {
  margin-top: 45px;
}
.education-list {
  display: flex;
  justify-content:space-around;
}
.education {
  margin: 20px;
}
.education h3,
p {
  margin-top: 10px;
  font-size: 1rem;
}

@media only screen and (max-width: 576px) {
  .education-list {
    flex-direction: column;
  }
}
