#home-section{
    margin-top: 100px;
    /* height: 300px; */
 }
 
 .home-comtent{
     text-align: center;
     height: 120px;
     
 }

 .home-content p{
     font-size: 25px;
     color: #2a06ef;
     font-weight: 500;
 }
 .home-comtent h1{
     font-size: 40px;
     color: #2a06ef;
 }
 .home-comtent h3{
     color: #2a06ef;
 }
 .home-comtent span{
     color: #0000119c;
     font-weight: bold;
 }