*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
  /* header section */

header{
    background-color: #ff5169a3;
    display: flex;
    height: 72px;
    justify-content: space-between;
    box-shadow: 0px 2px 3px #938080f5;
}
.logo h1{
    margin: 9px 28px;
    text-shadow: 0px 0px 4px black;
}
.logo h1 b {
    color:#c602e9 ;
    text-shadow: 0px 0px 4px #c602e9;
} 
.navbar ul {
    display: flex;
    list-style: none;
    margin: 11px;
}
.navbar ul li {
    padding: 9px;
    font-size: 25px;
    
    color:black;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
}


.navbar ul li a:hover{
    color:black;
}


/* home section */


#profile{
    height: 300px;
}
.intro{
    margin-left: 90px;
}
.para{
    margin-top:140px;
    font-weight: bold;
}
#first{
    color: black;
}
#second{
    font-weight: bold;
    font-size: 37px;
    color: black;
    text-shadow: 0px 0px 4px black;
}
#third{
    color: black;
}
.para p{
    padding: 0px;
}
strong{
    color:#c602e9;
    font-size: 26px;
    text-shadow: 0px 0px 6px #c602e9;
}

/* utility classes */

.btn{
    background: linear-gradient(#2196f3,#62c099eb);
    font-size: 17px;
    font-weight: bold;
    margin: 22px -4px;
    padding:8px 60px;
    border-radius: 23px;
    cursor: pointer;
    letter-spacing: 2px;
    border: 1px solid black;
    outline: none;
}
.btn:hover{
    background-color:#a9c2f185;
    color: white;
    outline: none;
}
.hello{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    text-align: center;
    font-family: 'Sacramento', cursive;
}
.hello h1{
    color: black;
    text-shadow: 0px 0px 4px black;
    margin: 30px 0px 0px 0px;
}

/* about section */

#about{
    color: white;
    height: 600px;
    
}
#Title{
    display: flex;
    justify-content: space-around;
}
.about-me img{
    width:31%;
    height:71%;
    margin:64px 117px;
    border-radius: 22px;
    box-shadow: 0px 0px 6px black;

}
.about-section{
    margin-top:111px;
    margin-right:136px;
}
.about-section h1{
    color: black;
    width:470px;
    font-size: 27px;
}
.about-section h1 b{
    color:#c602e9;
}
.about-section p b{
    color:#7b9968;
}
.about-section p{
    color: black;
    font-family: 'Sacramento', cursive;
    width: 530px;
}
/* education section */

.study{
    height:550px;
    color: white;
}

#education{
    display: flex;
    justify-content: space-around;
}
.learnig{
    color: black;
    margin-top: 90px;
    font-weight: bold;
}
/* service section */

#service{
    color: white;
    height: 550px;
}

#service-box{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.box{
    color: black;
    height: 190px;
    width: 330px;
    box-shadow: 0px 0px 6px black;
    border-radius: 0px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
}
.box:hover{
    background-color: gray;
    color:black;
    border-radius: 0px;
    box-shadow: 0px 0px 6px gray;
}
.box i{
    color: violet;
}
.box i,h1,p{
    padding: 8px;
}
/* skills section */


.skills{
    height:350px;
}

#language{
    display: flex;
    color: violet;
    justify-content: space-around;
    margin-top: 80px;
}
.program h4{
    padding-top: 10px;
}

/* contact section */
#contact{
    height: 100%;
}
#contact h2{
    color: rgb(228, 30, 228);
    text-decoration: underline;
    margin-left: 64px;
}
.touch{
    margin: 10px auto;
    
}
.touch input{
    padding: 6px 8px;
    margin: 12px;
    width: 20%;
    border-radius: 6px;
    border: 1px solid black;
}
.touch textarea{
    width: 20%;
    padding: 5px 8px;
    margin: 12px;
    border: 1px solid black;
    border-radius: 6px;
}
.btn1{
    margin: 10px 60px;
    padding: 8px 30px;
    font-size: 12px;
    background-color: rgb(93, 0, 0,0.62);
    color: #00ffb8;
    border: 1px solid black;
    box-shadow: 0px 3px 4px 0px rgb(0, 0, 0,7);
    cursor: pointer;
}

/* footer */

footer {
    background-color:#db21215e;
}

.social-media {
    display: flex;
    justify-content: center;
} 
.social-media a{
    text-decoration: none;
    padding: 5px;
    margin: 9px 8px;
}



/* media query */


 @media only screen and (max-width:360px){

   body, html{
        overflow-x: hidden;
    }
    header{
        height: 116px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .logo h1 {
        margin: 0px 9px;
    }
    navbar ul {
        margin: 3px;
    }
    .navbar ul li {
        padding: 4px;
        font-size: 21px;
    }
    #profile{
        height: 250px;
    }
    .intro {
        margin-left: 27px;
    }
    .para button {
        margin: 31px 4px;
        padding: 10px 31px;
    }
    #Title{
        display: flex;
        flex-direction: column;
    }
    #about{
        height: 728px;
    }
    .about-me img{
        width: 35%;
        margin: 64px 117px;
    }
    .about-section{
        margin-top: -48px;
    }
    .about-section h1{
        font-size: 15px;
    }
    .about-section p{
        width: 310px;
    }
    .about-section button{
        margin: 26px 11px;
        padding: 12px 15px;
    }
    .study{
        height:572px;
    }
    #education{
        display: flex;
        flex-direction: column;
    }
    .learnig{
        margin: 11px 0px;
        font-size: 10px;
    }
    #service{
        height: 852px;
    }

    #service-box {
        margin-top: 36px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .box{
        margin: 11px 0px;
        height: 202px;
        width: 254px;
    }
    .skills{
        height: 640px;
    }
    #language{
        display: flex;
        flex-direction: column;
        margin: 30px 129px;
    }
    .touch input{
        width: 65%;
    }
    .touch textarea{
        width: 65%;
    }
} 

@media only screen and (min-width:361px) and (max-width:574px){
    body, html{
        overflow-x: hidden;
    }
    header{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        height: 134px;
    }
    #profile {
        height: 220px;
    }
    .intro {
        margin-left: 47px;
    }
    #Title{
        display: flex;
        flex-direction: column;
    }
    #about {
        height: 741px;
    }
    .about-me img{
        margin: 50px 170px;
    }
    .about-section {
        margin: -40px auto;
    }
    .about-section h1{
        margin: 2px auto;
        font-size: 19px;
    }
    .about-section p{
        margin: 20px auto;
        width: 473px;
    }
    #about .btn{
        margin: 22px 24px;
        padding: 15px 22px;
    }
    #education {
        display: flex;
        flex-direction: column;
    }
    .learnig {
        margin-top: 19px;
        font-size: 12px;
    }
    .study {
        height: 624px;
    }
    #service {
        height: 855px;
    }
    #service-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box {
        margin: 14px;
    }
    .skills {
        height: 653px;
    }
    #language {
        display: flex;
        flex-direction: column;
        margin-left: 114px;
    }
    .touch input{
        width: 55%;
    }
    .touch textarea{
        width: 290px;
    }
}


@media only screen and (min-width:574px) and (max-width:768px){
    body,html{
        overflow-x: hidden;
    }
    #Title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-me img{
        margin: 10px 230px;
    }
    #about {
        height: 804px;
    }
    .about-section h1{
        font-size: 23px;
        margin: 2px auto;
    }
    .about-section {
        margin-top: 10px;
    }
    .about-section p{
        margin: 20px auto;
        width: 463px;
    }
    #about .btn{
        margin: 22px 76px;
    }
    #education {
        display: flex;
        flex-direction: column;
        
    }
    .study {
        height: 763px;
    }
    .learnig{
        margin: 20px 50px;
    }
    #service {
        height: 815px;
    }
    #service-box {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .box{
        margin: 15px auto;
    }
    .touch input{
        width: 45%;
    }
    .touch textarea{
        width: 45%;
    }
}