*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;

}
header{
    background-color:#03ddf3eb;
    display: flex;
    height: 72px;
    
}
.logo img{
    height: 65px;
    margin-left: 30px;
}
.logo h1{
    margin: 9px 28px;
}
.logo h1 b {
    color:#c602e9 ;
} 
.navbar   {
    display: flex;
}
.navbar ul {
    display: flex;
    margin-left: 871px;
    list-style: none;
    margin-top: 20px;
}
.navbar ul li a{
    padding: 9px;
    margin:0px 10px;
    font-size: 25px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.navbar ul li a:hover{
    background-color: #c602e9;
    color:white;
    border-radius: 9px;
}
.profile{
    background: url(./img/two.jpg) no-repeat center center/cover;
    background-color: #c0b1b19e;
    height: 550px;
}
.intro{
    display: flex;
    justify-content: space-around;
}
.para{
    margin-top:140px;
    font-weight: bold;
}
#first{
    color: white;
}
#second{
    font-weight: bold;
    font-size: 37px;
    color: white;
}
#third{
    color: white;
}
.para p{
    padding: 0px;
}
strong{
    color:#c602e9 ;
    font-size: 26px;
}
.btn{
    background-color: yellow;
    font-size: 17px;
    font-weight: bold;
    margin: 22px -4px;
    padding:8px 60px;
    cursor: pointer;
}
.btn:hover{
    background-color: rebeccapurple;
    color: white;
    border-radius: 13px;
}
.about{
    background-color:black;
    color: white;
    height: 600px;
    
}
.Title{
    display: flex;
}
.about img{
    width:49%;
    height:64%;
    margin:106px 117px;
    border-radius: 22px;
}
.section-title{
    margin:45px 29px;

}
.section-title h1{
width: 200px;
}
.section-title h5{
       margin: 0px 30px;
       color:#c602e9;
}
.about-me{
    margin-top:151px;
    margin-right:136px;
}
.about-me h1{
    font-size: 27px;
}
.about-me h1 b{
    color:#c602e9;
}
.about-me p{
    width: 530px;
}
.study{
    height:550px;
    background: url(./img/two.jpg) no-repeat center center/cover;
    color: white;
}

#education{
    display: flex;
    justify-content: space-around;
}
.learnig{
    margin-top: 90px;
    font-weight: bold;
}

.service{
    background-color: black;
    color: white;
    height: 550px;
}
.hello{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.hello h1{
    margin: 30px 0px 0px 0px;
}
.hello h5{
    color: rgb(218, 13, 218);
}

#service-box{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.box{
    height: 190px;
    width: 330px;
    box-shadow: 0px 0px 10px violet;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.box:hover{
    background-color: gray;
    color:black;
    border-radius: 0px;
    box-shadow: 0px 0px 10px gray;
}
.box i{
    color: violet;
}
.box i,h1,p{
    padding: 8px;
}

.skills{
    height: 550px;
    background: url(./img/two.jpg) no-repeat center center/cover;
}

#language{
    display: flex;
    color: violet;
    justify-content: space-around;
    margin-top: 80px;
}
.program h4{
    color: white;
    padding-top: 10px;
}

.contact{
    background-color: black;
    color: white;
    height: 100%;
}
.contact h2{
    color: rgb(228, 30, 228);
    text-decoration: underline;
    margin-left: 64px;
}
#get{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 30px;
}
.touch{
    padding: 15px;
    color:violet;
    text-decoration: underline;
}

.touch ::before{
    margin: 20px;
    color: white;
}
.touch p{
    margin-left: 64px;
    color: white;
    font-weight: bold;
}


footer{
    background-color: yellow;
    color: red;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}