*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
  /* header section */
header{
    background-color: azure;
    display: flex;
    height: 72px;
    justify-content: space-between;
    
}
.logo h1{
    margin: 9px 28px;
}
.logo h1 b {
    color:#c602e9 ;
} 
.navbar ul {
    display: flex;
    list-style: none;
    margin: 11px;
}
.navbar ul li {
    padding: 9px;
    font-size: 25px;
    
    color:black;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
}


.navbar ul li a:hover{
    color:black;
}


/* home section */


#profile{
    background: url(./img/two.jpg) no-repeat center center/cover;
    background-color: #c0b1b19e;
    height: 550px;
}
.intro{
    display: flex;
    justify-content: space-around;
}
.para{
    margin-top:140px;
    font-weight: bold;
}
#first{
    color: white;
}
#second{
    font-weight: bold;
    font-size: 37px;
    color: white;
}
#third{
    color: white;
}
.para p{
    padding: 0px;
}
strong{
    color:#c602e9 ;
    font-size: 26px;
}


/* utility classes */

.btn{
    background-color: yellow;
    font-size: 17px;
    font-weight: bold;
    margin: 22px -4px;
    padding:8px 60px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 2px;
}
.btn:hover{
    background-color:#a9c2f185;
    color: white;
    border-radius: 10px;
    display: inline-block;
}
.hello{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    text-align: center;
    font-family: 'Sacramento', cursive;
}
.hello h1{
    margin: 30px 0px 0px 0px;
}
.hello h5{
    color: rgb(218, 13, 218);
    font-weight: bold;
}

/* about section */
#about{
    background-color:black;
    color: white;
    height: 600px;
    
}
#Title{
    display: flex;
    justify-content: space-around;
}
.about-me img{
    width:31%;
    height:71%;
    margin:64px 117px;
    border-radius: 22px;
    box-shadow: 0px 0px 6px violet;
}
.about-section{
    margin-top:111px;
    margin-right:136px;
}
.about-section h1{
    width:470px;
    font-size: 27px;
}
.about-section h1 b{
    color:#c602e9;
}
.about-section p b{
    color:#7b9968;
}
.about-section p{
    font-family: 'Sacramento', cursive;
    width: 530px;
}
/* education section */
.study{
    height:550px;
    background: url(./img/two.jpg) no-repeat center center/cover;
    color: white;
}

#education{
    display: flex;
    justify-content: space-around;
}
.learnig{
    margin-top: 90px;
    font-weight: bold;
}
/* service section */
#service{
    background-color: black;
    color: white;
    height: 550px;
}

#service-box{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.box{
    height: 190px;
    width: 330px;
    box-shadow: 0px 0px 6px violet;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.box:hover{
    background-color: gray;
    color:black;
    border-radius: 0px;
    box-shadow: 0px 0px 6px gray;
}
.box i{
    color: violet;
}
.box i,h1,p{
    padding: 8px;
}
/* skills section */
.skills{
    height: 550px;
    background: url(./img/two.jpg) no-repeat center center/cover;
}

#language{
    display: flex;
    color: violet;
    justify-content: space-around;
    margin-top: 80px;
}
.program h4{
    color: white;
    padding-top: 10px;
}
/* contact section */
#contact{
    background-color: black;
    color: white;
    height: 100%;
}
#contact h2{
    color: rgb(228, 30, 228);
    text-decoration: underline;
    margin-left: 64px;
}
#get{
    display:inline;
    margin: 30px 0px 0px 30px;
}
.touch{
    padding: 15px;
    color:violet;
    text-decoration: underline;
}

.touch ::before{
    margin: 20px;
    color: white;
}
.touch p{
    margin-left: 64px;
    color: white;
    font-weight: bold;
}

/* footer */

footer{
    background-color: yellow;
    color: red;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
/* media query */


 @media screen and (max-width:360px){
   body, html{
        overflow-x: hidden;
        /* width: 100%; */
    }
    header{
        height: 116px;
        display: flex;
        flex-direction: column;
    }
    .logo h1{
        margin: 9px 105px;
    }
    .navbar ul{
        margin: -51px 57px;
    }
    .navbar ul li{
        padding: 6px;
        font-size: 18px;
    }
    #profile{
        height: 420px;
    }
    #Title{
        display: flex;
        flex-direction: column;
    }
    .about-me img{
        width: 35%;
        margin-top: 20px;
    }
    .about-section{
        margin-top: -48px;
    }
    .about-section h1{
        font-size: 15px;
    }
    .about-section p{
        width: 303px;
    }
    .btn{
        margin: 7px 7px;
        padding: 0px 23px;
    }
    .study{
        height:629px;
    }
    #education{
        display: flex;
        flex-direction: column;
    }
    .learnig{
        margin: 11px 0px;
        font-size: 10px;
    }
    #service{
        height: 852px;
    }

    #service-box {
        margin-top: 36px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .box{
        margin: 11px 0px;
        height: 202px;
        width: 254px;
    }
    .skills{
        height: 673px;
    }
    #language{
        display: flex;
        flex-direction: column;
        margin: 30px 129px;
    }
    .touch{
        padding: 6px;
    }
    .touch ::before {
        margin: 7px;
    }
    .touch p{
        margin-left: 39px;
        font-size: 12px;
    }
    #contact h2{
        margin: 24px 27px;
    }
} 

